@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

*{
  font-family: 'Poppins', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #FF0000;
  --color-secondary: #ffffff;
  --color-tertiary: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.swiper-pagination-bullet {
  background: var(--color-secondary) !important;
  opacity: 100% !important;
  width: 15px !important;
  height: 15px !important;
}

.swiper-pagination-bullet-active {
  background: var(--color-primary) !important;
  width: 37px !important;
  border-radius: 4px !important;
  height: 12px !important;
}
